@model IEnumerable<AtomicFitness.Models.Vjezba>

@{
    ViewData["Title"] = "Exercises";
}

<h1>Exercises</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" class="btn btn-secondary">Create New</a>
    </p>
}
<div style="margin-bottom: 10px">
    @using (Html.BeginForm("Index", "Vjezba", FormMethod.Get))
    {
        <div style="margin-bottom: 10px">
            <b style="margin-right: 10px">Search By:</b>
            @Html.RadioButton("SearchBy", "Naziv", new { @class = "form-check-input" }) <span style="margin-right: 10px">Name</span>
            @Html.RadioButton("SearchBy", "Oprema", new { @class = "form-check-input" }) <span style="margin-right: 10px">Equipment</span>
            @Html.RadioButton("SearchBy", "Level", new { @class = "form-check-input" }) <span style="margin-right: 10px">Level</span>
            @Html.RadioButton("SearchBy", "Misici", new { @class = "form-check-input" }) <span style="margin-right: 10px">Muscles</span>
        </div>
        @Html.TextBox("Search", "", new { @class = "form-control me-sm-2", @style = "display: inline-block; width: 30%" })
        <input type="submit" value="Search" class="btn btn-outline-light my-2 my-sm-0" />
    }
</div>

     
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="3">No rows match search criteria</td>
    </tr>

}
else
{
    <div class="container cont justify-content-center">
        <div class="row justify-content-md-center flex-fill">
            @foreach (var item in Model)
            {
                <div class="col d-flex mb-4">
                    <div class="card border-2 border-primary h-100 ">
                        <div class="imgparent">

                            <img src="@item.Link" class="card-img-top" alt="Image">
                            <div class="fa fa-plus img-overlay"></div>
                        </div>
                        <div class="card-body flex-fill flex-column d-flex">
                            <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Naziv)</h5>
                            <div style="margin: 1rem;">
                                <table class="table align-middle p-4">
                                    <tbody>
                                        <tr>
                                            <td>Equipment:</td>
                                            <td>@Html.DisplayFor(modelItem => item.Oprema)<br></td>
                                        </tr>
                                        <tr>
                                            <td>Level:</td>
                                            <td>@Html.DisplayFor(modelItem => item.Level)</td>
                                        </tr>
                                        <tr>
                                            <td>Muscles:</td>
                                            <td>@Html.DisplayFor(modelItem => item.Misici)</td>
                                        </tr>
                                        <tr>
                                            <td>Reps:</td>
                                            <td>@Html.DisplayFor(modelItem => item.BrojPonavljanja)</td>
                                        </tr>
                                        <tr>
                                            <td>Sets:</td>
                                            <td>@Html.DisplayFor(modelItem => item.BrojSerija)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center mt-auto">
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.VjezbaID" class="btn btn-outline-warning">Edit</a>
                                }
                                <a asp-action="Details" asp-route-id="@item.VjezbaID" class="btn btn-outline-info">Details</a>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.VjezbaID" class="btn btn-outline-danger">Delete</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}


