@model IEnumerable<AtomicFitness.Models.Vjezba>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table table-hover" style="text-align: center">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oprema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Misici)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojPonavljanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojSerija)
            </th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oprema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Misici)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrojPonavljanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrojSerija)
                </td>
            </tr>
            }
        </tbody>
</table>