@model IEnumerable<AtomicFitness.Models.Pjesma>

@{
    ViewData["Title"] = "Music";
}

<h1>Music</h1>
@if (User.IsInRole("Administrator")) {
    <p>
        <a asp-action="Create" class="btn btn-secondary">Create New</a>
    </p>
 }

<div style="margin-bottom: 10px">
    @using (Html.BeginForm("Index", "Pjesma", FormMethod.Get))
    {
        <div style="margin-bottom: 10px">
            <b style="margin-right: 10px">Search By:</b>
            @Html.RadioButton("SearchBy", "Naziv", new { @class = "form-check-input" }) <span style="margin-right: 10px">Name</span>
            @Html.RadioButton("SearchBy", "Pjevaci", new { @class = "form-check-input" }) <span style="margin-right: 10px">Singer</span>
            @Html.RadioButton("SearchBy", "Zanr", new { @class = "form-check-input" }) <span style="margin-right: 10px">Genre</span>
        </div>
        @Html.TextBox("Search", "", new { @class = "form-control me-sm-2", @style = "display: inline-block; width: 30%" })
        <input type="submit" value="Search" class="btn btn-outline-light my-2 my-sm-0" />
        <br />
        <small class="form-text text-muted">For more than one singer use comma as a delimiter</small>
    }
</div>

@if (Model.Count() == 0)
{
    <tr>
        <td colspan="5">No rows match search criteria</td>
    </tr>

}
else
{
    <div class="container cont-music">
        <div class="row ">
            @foreach (var item in Model)
            {
                <div class="col-12">
                    <div class="card border-2 border-primary card-music ">
                        <div class="imgparent-music">

                            <img src="https://ak.picdn.net/shutterstock/videos/1038536891/thumb/11.jpg?ip=x480" class="card-img-top" alt="">
                            <div class="fa fa-plus img-overlay"></div>
                        </div>
                        <div class="card-body-music ">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Naziv)</h5>
                            <div class="music-desc">

                                Artist: @Html.DisplayFor(modelItem => item.Pjevaci)<br />
                                <div class="song-info">
                                     Year: @Html.DisplayFor(modelItem => item.GodinaIzdanja) <br />
                                     Genre: @Html.DisplayFor(modelItem => item.Zanr)
                                </div>
                            </div>
                            <div class="buttons-music ml-auto" >
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.PjesmaID" class="btn btn-outline-warning musicedit">Edit</a>
                                }
                                <a asp-action="Details" asp-route-id="@item.PjesmaID" class="btn btn-outline-info musicdet">Details</a>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.PjesmaID" class="btn btn-outline-danger musicdel">Delete</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
